@use "vars" as *;

// Footer
.footer {
	padding-top: 100px;
	padding-bottom: 34px;
}
.footer__contacts {
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.footer__contact-item {
	text-align: center;
	.body-sm-font {
		margin-bottom: 12px;
		line-height: 1;
	}
}
.footer__menu {
	padding-top: 56px;
	padding-bottom: 56px;
	border-top: 1px solid #1E293B;
	border-bottom: 1px solid #1E293B;
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}
.footer__menu-item {
	width: 24%;
}
.footer__menu-title {
	margin-bottom: 19px;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	display: flex;
	align-items: center;
	gap: 9px;
	&::before {
		content: "";
		width: 8px;
		height: 8px;
		background-color: $color-accent;
		border-radius: 50%;
		background: $color-accent;
		display: block;
		box-shadow: 0px 0px 6px rgba(56, 189, 248, 0.9);
	}
}
.footer__menu-link {
	color: $color-text-muted;
	text-decoration: none;
	display: block;
}
.footer__address {
	color: $color-text-muted;
	font-style: normal;
	line-height: 2;
	width: 150px;
	max-width: 100%;
}
.footer__menu-list {
	gap: 10px;
	display: flex;
	flex-direction: column;
}
.footer__menu-link--white {
	color: $color-off-white;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 34px;
	font-size: $body-sm-font-size;
	color: $color-text-muted;
}
.footer__bottom-link {
	color: $color-text-muted;
	&:hover {
		color: $color-accent;
	}
}
.footer__bottom-links {
	gap: 50px;
	display: flex;
	align-items: center;
}
.footer__contact-btn {
	display: none;
}

@include bp-tablet {
	.footer__contacts {
		display: none;
	}
	.footer__contact-btn {
		display: flex;
		width: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer__bottom-logo {
		display: none;
	}
	.footer__bottom-links {
		gap: 30px;
	}
	.footer__menu-item {
		width: 24%;
	}
	.footer__menu-item:nth-child(3) {
		width: 28%;
	}
	.footer {
		padding-top: 52px;
		padding-bottom: 32px;
	}
	.footer__bottom {
		padding-top: 32px;
	}
	.footer__menu {
		margin-top: 44px;
		padding-top: 44px;
		padding-bottom: 44px;
	}
}
@include bp-mobile {
	.footer__menu {
		flex-wrap: wrap;
	}
	.footer__menu-item {
		width: 50%;
		margin-bottom: 40px;
	}
	.footer__menu {
		margin-top: 52px;
		padding-top: 52px;
		padding-bottom: 0px;
	}
	.footer__bottom {
		flex-direction: column-reverse;
		align-items: center;
		padding-top: 52px;
		text-align: center;
	}
	.footer {
		padding-bottom: 52px;
	}
	.footer__copyright {
		margin-top: 32px;
	}
	.footer__bottom-links {
		gap: 50px;
	}
}
@include bp-390 {
	.footer__bottom {
		font-size: 13.5px;
		
	}
}