@use "vars" as *;


.usp {
	text-align: center;
	background-image: url(../img/usp.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.section-header {
		margin-bottom: 30px;
	}
	.save-title {
		margin-bottom: 18px;
	}
	.description {
		font-size: 22px;
		color: $color-off-white;
		width: 450px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		line-height: 140%;
		margin-top: 30px;
	}
}

.usp__title {
	font-size: 46px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.5;
	margin-bottom: 30px;
	line-height: 1.4;
}
.usp__title-prefix{
	font-size: 24px;
}

@include bp-tablet {
	.usp__title {
		font-size: 40px;
	}
	.usp__title-prefix{
		font-size: 24px;
	}
	.usp {
		.description {
			font-size: 20px;
		}
	}
}
@include bp-mobile {
	.usp__title {
		font-size: 32px;
	}
	.usp__title-prefix{
		font-size: 20px;
	}
	.usp {
		.description {
			font-size: 18px;
		}
	}
}
