@use "vars" as *;
@use "buttons";
@use "header";

// Reset / Normalize (complements libs.min.css with normalize.css)
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

// Skip link (accessibility: visible on focus for keyboard/screen readers)
.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	padding: 12px 16px;
	background: $color-teal-suebo;
	color: $color-dark-navy;
	text-decoration: none;
	font-weight: $weight-semibold;
	z-index: 9999;
	transition: top 0.2s;

	&:focus {
		top: 0;
		outline: 2px solid $color-electric-blue;
		outline-offset: 2px;
	}
}

body {
	background-color: $color-dark-navy;
	font-family: $font-body;
	font-size: $body-base-font-size;
	line-height: $body-base-line-height;
	font-weight: $body-base-font-weight;
	color: $color-text-main;
}

.container {
	width: 1320px;
	max-width: 93vw;
	margin-left: auto;
	margin-right: auto;
}


//start hero style
.hero {
	padding-top: 9.375vw;
	padding-bottom: 10.417vw;
	position: relative;
	.container {
		position: relative;
		z-index: 9;
	}
}
.hero__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.save-title {
	font-size: 18px;
	font-family: $font-manrope;
	font-weight: $weight-semibold;
	color: $color-teal-suebo;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	span {
		color: $color-btn-yellow;
		padding-left: 7px;
		padding-right: 7px;
	}
}
.hero__content {
	width: 594px;
	max-width: 100%;
}
.hero__title {
	font-size: $display-font-size;
	line-height: 120%;
	font-family: $display-font-family;
	font-weight: $display-font-weight;
	color: $color-text-main;
	margin-bottom: 0;
	margin-bottom: 50px;
	span {
		text-transform: uppercase;
		color: $color-teal-suebo;
	}
}
.hero__description {
	font-size: 22px;
	line-height: 140%;
	font-family: $font-heading;
	margin-bottom: 50px;
}
//end hero style


@include bp-mobile {
	.container {
		max-width: 90vw;
	}

}
	


