@use "vars" as *;
@use "header";

// Reset / Normalize (complements libs.min.css with normalize.css)
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

// Skip link (accessibility: visible on focus for keyboard/screen readers)
.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	padding: 12px 16px;
	background: $color-teal-suebo;
	color: $color-dark-navy;
	text-decoration: none;
	font-weight: $weight-semibold;
	z-index: 9999;
	transition: top 0.2s;

	&:focus {
		top: 0;
		outline: 2px solid $color-electric-blue;
		outline-offset: 2px;
	}
}

body {
	background-color: $color-dark-navy;
	font-family: $font-body;
	font-size: $body-base-font-size;
	line-height: $body-base-line-height;
	font-weight: $body-base-font-weight;
	color: $color-text-main;
}

.container {
	width: 1320px;
	max-width: 93vw;
	margin-left: auto;
	margin-right: auto;
}
@include bp-mobile {
	.container {
		max-width: 90vw;
	}

}
	


