@use "fonts";
@use "vars" as *;
@use "buttons";
@use "header";
@use "footer";

// Reset / Normalize (complements libs.min.css with normalize.css)
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
.section-header {
	text-align: center;
	margin-bottom: 60px;
}
.h2 {
	font-size: $h2-font-size;
	line-height: 1.2;
	font-family: $h2-font-family;
	font-weight: $h2-font-weight;
	color: $color-text-main;
	margin-bottom: 0;
	margin-top: 0;
}
.h3 {
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	font-family: $h3-font-family;
	font-weight: $h3-font-weight;
	color: $color-text-main;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 130%;
}
.body-sm-font {
	font-size: 14px;
}
// Skip link (accessibility: visible on focus for keyboard/screen readers)
.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	padding: 12px 16px;
	background: $color-teal-suebo;
	color: $color-dark-navy;
	text-decoration: none;
	font-weight: $weight-semibold;
	z-index: 9999;
	transition: top 0.2s;

	&:focus {
		top: 0;
		outline: 2px solid $color-electric-blue;
		outline-offset: 2px;
	}
}

body {
	background-color: $color-dark-navy;
	font-family: $font-body;
	font-size: $body-base-font-size;
	line-height: $body-base-line-height;
	font-weight: $body-base-font-weight;
	color: $color-text-main;
}

.container {
	width: 1320px;
	max-width: 93vw;
	margin-left: auto;
	margin-right: auto;
}


//start hero style
.hero {
	padding-top: 9.375vw;
	padding-bottom: 10.417vw;
	position: relative;
	.container {
		position: relative;
		z-index: 9;
	}
}
.hero__bg-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	object-position: center;
	}
	
}
.save-title {
	font-size: 18px;
	font-family: $font-manrope;
	font-weight: $weight-semibold;
	color: $color-teal-suebo;
	display: flex;
	align-items: center;
	margin-bottom: 28px;
	text-transform: uppercase;
	span {
		color: $color-btn-yellow;
		padding-left: 7px;
		padding-right: 7px;
	}
}
.save-title--center {
	text-align: center;
	justify-content: center;
}
.hero__content {
	width: 594px;
	max-width: 100%;
}
.hero__title {
	font-size: $display-font-size;
	line-height: 120%;
	font-family: $display-font-family;
	font-weight: $display-font-weight;
	color: $color-text-main;
	margin-bottom: 0;
	margin-bottom: 50px;
	span {
		text-transform: uppercase;
		color: $color-teal-suebo;
	}
}
.hero__description {
	font-size: 22px;
	line-height: 140%;
	font-family: $font-heading;
	margin-bottom: 50px;
}

//end hero style

//start clients style
.clients {
	padding-top: 100px;
	padding-bottom: 67px;
	background-color: $color-gunmetal;
	position: relative;
	overflow: hidden;
	.container {
		position: relative;
		z-index: 9;
	}
}
.clients__item {
	background: #fff;
	border-radius: 10px;
	width: 200px;
	min-width: 200px;
	height: 98px;
	padding: 14px 20px;
	img {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
	}
}


.clients::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: #16C1E9;
	opacity: 0.45;
	filter: blur(350px);
	transform: translate(50%, 50%) translateZ(0); 
}
.clients::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: #16C1E9;
	opacity: 0.45;
	filter: blur(350px);
	transform: translate(-50%, -50%) translateZ(0); // центр еліпса в лівому верхньому куті
}  



.clients__marquee {
	overflow: hidden;
}
.clients__track {
	display: flex;
	gap: 24px;
	width: max-content;
	animation: clients-marquee 40s linear infinite;
}
.clients__track:hover {
	animation-play-state: paused;
}
@keyframes clients-marquee {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%); }
}
.clients__list {
	display: flex;
	gap: 24px;
	flex-shrink: 0;
}
//end clients style

@include bp-tablet {
	.hero__content {
		width: 100%;
	}
	.hero__bg-wrapper {
		width: 100%;
		position: static;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		
	}
	.hero {
		padding-top: 0;
	}
	.hero__content {
		padding-top: 38px;
		text-align: center;
		width: 715px; 
		margin-left: auto;
		margin-right: auto;
	}
	.save-title {
		justify-content: center;
	}
	.hero__title {
		margin-top: 40px;
	}
	.hero__title {
		font-size: 57px;
		margin-bottom: 30px;
		span {
			display: block;
		}
	}
	.hero__description {
		font-size: 20px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	.hero {
		padding-bottom: 52px;
	}
	.section-header {
		margin-bottom: 44px;
	}
	.h3 {
		font-size: 44px;
	}

	//start clients styles 
	.clients {
		padding-top: 52px;
		padding-bottom: 52px;
		.container {
			width: 100%;
			max-width: 100%;
		}
		.section-header {
			padding-left: 3.5vw;
			padding-right: 3.5vw;
		}
	}
	
	//end clients styles
}
@include bp-mobile {
	.container {
		max-width: 90vw;
	}
	.hero__bg-wrapper {
		height: 65vw;
	}
	.hero__bg-wrapper {
		img {
	height: 86.41vw;
		margin-top: -11.026vw;
		position: relative;
		object-position: right;
		object-fit: cover;
		}
		
	}
	.hero__content {
		padding-top: 0;
	}
	.save-title {
		font-size: 16px;
		span {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.hero__title {
		margin-top: 28px;
		font-size: 38px;
		margin-bottom: 32px;
	}
	.hero__description {
		font-size: 17px;
	}
	.save-title {
		margin-bottom: 24px;
	}
	.h3 {
		font-size: 32px;
	}
	.section-header {
		margin-bottom: 40px;
	}
	.h2 {
		font-size: 32px;
	}
	.clients__item {
		width: 167px;
		min-width: 167px;
		height: 80px;
	}
	.clients__track {
		gap: 16px;
	}
	
	.clients::before,
	.clients::after {
		width: 250px;
		height: 250px;
		filter: blur(71px);
	}
}

@include bp-390 {
	.hero__title {
		font-size: 36px;
	}
}

@include bp-mobile-sm {
	.save-title {
		font-size: 14px;
	}
}
